section#headerimpact {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background: var(--common-green-background);
    display: flex;
    flex-direction: row;
    font-family: "Nexa_Bold";
    justify-content: center;
}
section#headerimpact .content {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
section#headerimpact .left-content {
    margin: auto 0;
    line-height: 1.5;
    text-align: left;
}
section#headerimpact .left-content header {
    font-family: "Nexa_Bold";
    font-weight: 500;
    color: var(--common-white-text);
    font-size: 32px;
    display: flex;
    flex-direction: column;
}
section#headerimpact .left-content header strong {
    font-size: 64px;
}
section#headerimpact .right-content {
    margin-bottom: auto;
    width: 480px;
    height: 480px;
    overflow: hidden;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1200px) {
    section#headerimpact .right-content {
        display: none;
    }
    section#headerimpact .left-content {
        width: 200%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}
