.box-slider {
  width: 90%;
  margin: 0 auto;
}

.box-info {
  display: flex;
  flex-direction: column;
}

form.box-form {
  height: 62px;
  width: 70%;
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.025);
  box-shadow: 0 7px 4px -7px gray;
  border-radius: 40px;
  overflow: hidden;
}
form.box-form .icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1.5rem;
  background: rgba(0, 0, 0, 0.05);
}
form.box-form button[type="submit"] {
  margin: auto 5px auto auto;
  padding: 0 16px;
  height: 85%;
  font-family: "Nexa_Bold";
  background: #6a6a6a;
  color: #fff;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 15px;
}
form.box-form button[type="submit"]:hover {
  background: #4e4e4e;
}
form.box-form input {
  padding: 0 1rem;
  height: 100%;
  width: 100%;
  border: 0;
  color: #777;
  border-left: 1px solid #ddd;
  background: transparent;
  font-size: 20px;
}

form.box-form input::placeholder {
  color: #6a6a6a;
  opacity: 0.6;
}

@media (max-width: 650px) {
  form.box-form {
    width: 80%;
  }
}
