nav {
    width: 100%;
    height: 60px;
    box-shadow: 0 14px 1000px rgba(0, 0, 0, 0.15),
        0 14px 1000px rgba(0, 0, 0, 0.15);
}

nav .wrapper {
    padding: 0 20px;
    height: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav .wrapper .wrapper-section {
    display: flex;
    flex-direction: row;
}
nav .wrapper .wrapper-item {
    margin: auto 10px;
    font-family: "Nexa_Bold";
    font-size: 14px;
    color: var(--common-black-text);
}
nav .wrapper .logo {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav .wrapper .logo a {
    font-family: "Nexa_Bold";
    font-weight: 900;
    font-size: 32px;
    color: var(--common-black-text);
}
nav .wrapper .wrapper-section:nth-child(2) {
    display: none;
}
@media (max-width: 1200px) {
    nav .wrapper .wrapper-section:last-child {
        display: none;
    }
    nav .wrapper .logo .icon {
        display: none;
    }
    nav .wrapper .wrapper-section:nth-child(2) {
        display: flex;
    }
}
